.full{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(3, 3, 7);
    color: aliceblue;
}
.filter_bar{
    background-color: transparent;
    
}

.filtros{
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.Barradetareas{
    display:inline-flex;
    margin-left: 40px;
    margin-bottom: 20px;
    
}
.boton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    background: rgb(168, 148, 148);
    padding: 5px 10px;
    border: none;
    color:#fff;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 20px;
}

.boton:hover{
    outline: none; 
    background-color: rgb(58, 58, 106);
    color: rgb(245, 249, 249);
    
}


.style {
    /* text-align: center center; */
    display: inline-table;
    margin: 3px;
    width: 150px;
    height:65px;
    text-emphasis: none;
    text-decoration: none;
    }


